body {
  background-color: #66bfbf;
}

h1 {
  text-align: center;
  padding: 2%;
  margin-top: 2%;
}

p {
  text-align: right;
}

div {
  margin: 2rem auto 8em auto;
}


.conntent {
  padding: 1% 5%;
}

/* first paragraph content */
.first {
  text-align: center;
  position: relative;
  margin-bottom: 40rem;
}

.first-p {
  float: right;
  margin-top: 8rem;
  margin-left: 1%;
}

.img1 {
  height: 24rem;
  width: 40rem;
  text-align: right;
  transform: rotate(-5deg);
  position: absolute;
  right: 35rem;
}

/* second paragraph conteמt */
.second {
  text-align: center;
}

.second-p {
  float: left;
  margin-right: 1%;
  margin-top: 15rem;
}

.img2 {
  width: 26.5625rem;
  height: 37.5rem;
  transform: rotate(5deg);
}

/* thired paragraph content */
.thired {
  position: relative;
}

.thired-p {
  margin-top: 2.5rem;
  float: right;
  margin-left: 1%;
}

.img3 {
  position: relative;
  transform: rotate(-5deg);
}

.img4 {
  position: absolute;
  left: 300px;
  top: 200px;
  transform: rotate(5deg);
}

.img3,
.img4 {
  height: 21rem;
  width: 35rem;
}

/* forth paragraph content */
.forth {
  padding-top: 15rem;
  padding-bottom: 30rem;
  position: relative;
}

.forth-p {
  margin-right: 1%;
  float: left;
  margin-top: 30rem;
}

.img5 {
  height: 21rem;
  width: 35rem;
  margin-top: 4rem;
  position: absolute;
  transform: rotate(-5deg);
  left: 23rem;
}

.img6 {
  width: 25.23rem;
  height: 35.625rem;
  position: absolute;
  right: 0;
  left: 50rem;
  top: 23rem;
  transform: rotate(10deg);
}

.button {
  display: block;
  position: absolute;
  margin: 0 auto 2rem auto;
  color: #ffb833;
  font-weight: bold;
  bottom: -13rem;
  left: 16rem;
}

.button:hover {
  color: white;
  background-color: #ffb833;
}



/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */