body {
  background-color: #FFF8DC;
}

h1 {
  text-align: center;
  padding: 2%;
  margin-top: 2%;
  color: #FFD700;
  font-style: italic;
  font-family: 'Pacifico', cursive;
}

p {
  text-align: right;
  line-height: 2;
}

div {
  margin: 2rem auto 8em auto;
}

img {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.conntent {
  padding: 1% 5%;
}

/* first paragraph content */
.first {
  text-align: center;
  position: relative;
  margin-bottom: 40rem;
}

audio{
  position: absolute;
  left: 65%;
  bottom: 20%;
}

.red{
  color: red;
  font-size: large;
}

.first-p {
  float: right;
  margin-top: 8rem;
  margin-left: 1%;
}

.img1 {
  height: 26.4rem;
  width: 42rem;
  text-align: right;
  transform: rotate(-5deg);
  position: absolute;
  right: 35rem;
}

/* second paragraph conteמt */
.second {
  text-align: center;
}

.second-p {
  float: left;
  margin-right: 1%;
  margin-top: 11rem;
}

.img2 {
  width: 26.5625rem;
  height: 37.5rem;
  transform: rotate(5deg);
}

/* thired paragraph content */
.thired {
  position: relative;
}

.thired-p {
  margin-top: 2.5rem;
  float: right;
  margin-left: 1%;
}

.img3 {
  position: relative;
  transform: rotate(-5deg);
}

.img4 {
  position: absolute;
  left: 450px;
  top: 250px;
  transform: rotate(5deg);
}

.img3 {
  height: 22rem;
  width: 36.5rem;
}

.img4 {
  height: 23rem;
  width: 35rem;
}

/* forth paragraph content */
.forth {
  padding-top: 15rem;
  padding-bottom: 35rem;
  position: relative;
}

.forth-p {
  margin-right: 1%;
  float: left;
  margin-top: 20rem;
}

.img6 {
  width: 25.23rem;
  height: 35.625rem;
  position: absolute;
  right: 0;
  left: 45rem;
  top: 23rem;
  transform: rotate(5deg);
}

.button {
  display: block;
  position: absolute;
  margin: 0 auto 2rem auto;
  color: black;
  background-color: #FFD700;
  font-weight: bold;
  bottom: -1rem;
  left: 16rem;
}

.button:hover {
  color: #FFD700;
  background-color: white;
}

.fade {
  opacity: 1;
}

/* images without description */

.no-img {
  height: 26.4rem;
  width: 42rem;
}

.img-con {
  padding-top: 20rem;
}

.p1,
.p3,
.p5,
.p7,
.p9,
.p11,
.p13 {
  transform: rotate(-5deg);
}

.p2,
.p4,
.p6,
.p8,
.p10,
.p12,
.p14 {
  transform: rotate(5deg);
  margin-left: 40%;
}

.upside {
  width: 26.23rem;
  height: 35.625rem;
}

.rig {
  margin-left: 50%;
}

.lft {
  margin-left: 10%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 345px) {
  h1 {
    padding-top: 8%;
    font-size: 2rem;
  }

  p {
    text-align: center;
    font-weight: 100;
  }

  .first {
    margin-top: 8%;
    margin-bottom: 0;
  }

  .first-p {
    margin-top: -5%;
  }

  .img1 {
    position: static;
    width: 250px;
    height: auto;
    margin-top: 9%;
  }

  .second-p {
    margin-top: 15%;
  }

  .img2 {
    width: auto;
    height: 270px;
    margin-top: 5%;
  }

  .img3 {
    width: 250px;
    height: auto;
  }

  .thired {
    margin-bottom: 0;
  }

  .img4 {
    width: 250px;
    height: 170px;
    position: static;
  }

  .img3,
  .img4 {
    margin-left: 0;
  }

  .p1,
  .p2,
  .p3,
  .p4,
  .p14 {
    width: 250px;
    height: auto;
  }

  .p1,
  .p3 {
    margin-left: 0;
  }

  .p2,
  .p4,
  .p14 {
    margin-left: 5%;
  }

  .upside {
    width: 200px;
    height: 320px;
  }

  .rig {
    margin-left: 15%;
  }

  .img6 {
    width: auto;
    height: 300px;
    left: 4rem;
    top: 10rem;
  }

  .forth {
    padding-bottom: 0;
    margin-bottom: 2%;
    padding-top: 10rem;
  }

  .forth-p {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .button {
    left: 12.5rem;
    bottom: 0;
    position: static;
    margin-top: 2rem;
  }
}

@media (min-width: 346px) and (max-width: 575px){
  h1 {
    padding-top: 8%;
    font-size: 2rem;
  }

  p {
    text-align: center;
    font-weight: 100;
  }

  .first {
    margin-top: 8%;
    margin-bottom: 0;
  }

  .first-p {
    margin-top: -5%;
  }

  .img1 {
    position: static;
    width: 250px;
    height: auto;
    margin-top: 9%;
  }

  .second-p {
    margin-top: 15%;
  }

  .img2 {
    width: auto;
    height: 270px;
    margin-top: 5%;
  }

  .img3 {
    width: 250px;
    height: auto;
  }

  .thired {
    margin-bottom: 0;
    text-align: center;
  }

  .img4 {
    width: 250px;
    height: 170px;
    position: static;
  }

  .img3,
  .img4 {
    margin-left: 0;
  }

  .p1,
  .p2,
  .p3,
  .p4,
  .p14 {
    width: 250px;
    height: auto;
  }

  .p1,
  .p3 {
    margin-left: 0;
  }

  .p2,
  .p4,
  .p14 {
    margin-left: 5%;
  }

  .upside {
    width: 200px;
    height: 320px;
  }

  .rig {
    margin-left: 15%;
  }

  .img6 {
    width: auto;
    height: 300px;
    left: 4rem;
    top: 10rem;
    position: static;
  }

  .forth {
    padding-bottom: 0;
    margin-bottom: 2%;
    padding-top: 1rem;
    text-align: center;
  }

  .img-con{
    text-align: center;
  }

  .forth-p {
    margin-right: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .button {
    left: 12.5rem;
    bottom: 0;
    position: static;
    margin-top: 2rem;
  } 
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    padding-top: 5%;
  }

  p {
    text-align: center;
    font-weight: 200;
  }

  .first {
    margin-top: 0;
    margin-bottom: 0;
  }

  .first-p {
    margin-top: -2%;
    margin-right: 3rem;
  }

  .img1 {
    position: static;
    width: 450px;
    height: auto;
    margin-top: 3%;
  }

  .second-p {
    margin-top: 15%;
    margin-bottom: 2rem;
  }

  .img2 {
    width: auto;
    height: 450px;
  }

  .img3 {
    width: 380px;
    height: auto;
  }

  .thired {
    margin-bottom: 0;
  }

  .img4 {
    width: 380px;
    height: 240px;
    position: static;
  }

  .img3,
  .img4 {
    margin-left: 10%;
  }

  .p1,
  .p2,
  .p3,
  .p4,
  .p14 {
    width: 450px;
    height: auto;
  }

  .p1,
  .p3 {
    margin-left: 7%;
  }

  .p2,
  .p4,
  .p14 {
    margin-left: 5%;
  }

  .upside {
    width: 305px;
    height: 450px;
  }

  .rig {
    margin-left: 30%;
  }

  .img6 {
    width: auto;
    height: 400px;
    left: 10rem;
    top: 9rem;
  }

  .forth {
    padding-bottom: 0;
    margin-bottom: 2%;
  }

  .forth-p {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .button {
    left: 12.5rem;
    bottom: 0;
    position: static;
    margin-top: 2rem;
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .first-p,
  .second-p,
  .thired-p {
    float: none;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  
  .forth-p {
    margin-left: 10%;
  }

  .button {
    margin-left: 5%;
  }

  p {
    text-align: center;
  }

  #three{
    margin-bottom: 1.5rem;
  }

  .first {
    margin-bottom: 7.5rem;
  }

  .img1,
  .img3,
  .img4 {
    position: static;
  }

  .img3,
  .img4 {
    margin-left: 2rem;
  }


  .p2,
  .p4,
  .p14 {
    margin-left: 0;
  }

  .upside {
    margin-left: 20%;
  }

  .img6 {
    left: 10rem;
    top: -3rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .first-p,
  .second-p,
  .thired-p {
    float: none;
    margin-bottom: 6rem;
    margin-top: 0.5rem;
  }

  .forth-p {
    margin-left: 10%;
  }

  .button {
    margin-left: 5%;
  }

  p {
    text-align: center;
  }

  .first {
    margin-bottom: 7.5rem;
  }

  .img1,
  .img3,
  .img4 {
    position: static;
  }

  .img3,
  .img4 {
    margin-left: 2rem;
  }


  .p2,
  .p4,
  .p14 {
    margin-left: 0;
  }

  .upside {
    margin-left: 20%;
  }

  .img6 {
    left: 10rem;
    top: -3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  p {
    font-weight: 500;
  }

  .second-p {
    margin-left: 20%;
    margin-bottom: 2rem;
  }

  .thired-p {
    margin-right: 20%;
    margin-bottom: 5%;
  }

  .img1 {
    margin-top: 8%;
    width: 350px;
    height: auto;
  }

  .img3 {
    width: 480px;
    height: auto;
  }

  .img4 {
    width: 450px;
    height: auto;
  }

  .p2,
  .p4,
  .p14 {
    margin-left: 20%;
  }

  .img6 {
    height: 520px;
    width: auto;
    left: 37rem;
    top: 25rem;
  }

  .forth {
    padding-top: 11rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1280px) {
  .img1 {
    height: 23.8rem;
    width: 34rem;
  }

  .img6 {
    left: 40rem;
  }

  .p14 {
    margin-left: 35%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1281px) and (max-width: 1380px) {
  .img1 {
    height: 26.4rem;
    width: 37.8rem;
  }
}